@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.alumniProfs {
   font-family: Roboto;
   text-align: center;
   width: 100%;
   height: 100%;
}

.alumniHeader {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 35px;
}

.alumniCards {
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.cardTitle {
    font-size: 20px;
    font-weight: lighter;
    font-family: Roboto;
    margin-left: 8%;
}