.HeaderApproval {
  text-align: left;
  padding-left: 55px;
}

.HeaderApproved {
  text-align: left;
  padding-left: 55px;
}

.HeaderTitle {
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
}

.test {
  background: red
}
