@import "~antd/dist/antd.css";

.Homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("homepage-pic.jpg");
  background-repeat: no-repeat;
}

.Title {
  font-family: Roboto;
  font-weight: lighter;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 35px;
  color: rgba(0, 0, 0);
}

h2 {
  font-family: Roboto;
  font-weight: lighter;
  margin-top: 20px;
  padding-top: 7px;
  font-size: 35px;
  color: rgba(242, 242, 242);
  border-bottom: 0.7px solid rgba(242, 242, 242);
  display: inline-block;
}

.Footer {
  background-color: #4f4f4f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.Homepage-box {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
  margin: 7% auto;
  text-align: center;
  height: 20%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  color: rgba(255, 255, 255);
  padding: 7px;
}

p2 {
  color: rgba(0, 0, 0);
}
