.container{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.new_Btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}
    
 #html_btn {
     display:none;
}
