@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("assets/homePhoto.jpg");
  background-repeat: no-repeat;
}

.HeaderFiller {
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.RobotoTitle {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 40px;
  padding-top: 20px;
}

.LoginBackground {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
