@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.Roboto {
  font-family: "Roboto";
  font-weight: 100;
  color: red;
  background-color: orange;
}
